{% extends 'core/base.html' %}
{% load static %}

{% block extrastyles %}
<link rel="stylesheet" href="{% static 'css/movie_detail.css' %}">
{% endblock %}


{% block main %}

<div class="container">

    <h1 class="about-title">О нас</h1>
    <p class="about-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis cupiditate dolore earum esse, ex
        hic
        inventore iste laboriosam neque officia sit ut vitae? Aliquid aperiam asperiores, aut consectetur eaque iure non
        nostrum perspiciatis quia quisquam sapiente soluta sunt, ut.
    </p>

</div>

{% endblock %}

{% block extrascripts %}

{% endblock %}
