{% extends 'core/base.html' %}
{% load static %}

{% block extrastyles %}
<link rel="stylesheet" href="{% static 'css/movie_detail.css' %}">
{% endblock %}


{% block main %}

<h1>{{ title }}</h1>
<p>{{ description }}</p>
<img src="{{ poster.url }}" alt="{{ slug }}">


<ul>
    {% for actor in actors %}
    <li>
        <div class="img_wrapper">
            <img src="{{ actor.photo.url }}" alt="">
        </div>
        <a href="{{ actor.get_absolute_url }}">
            <h3>{{ actor.name }}</h3>
        </a>
    </li>
    {% endfor %}
</ul>


{% endblock %}

{% block extrascripts %}

{% endblock %}
